body {
    background-color: #D3D3D3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 15px; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.container{
    display: inline;
}

#searchBar{
    margin-top: 0px;
    position: fixed;
    top: 0;
    background-color: #D3D3D3;
    width: 100%;
}

#mainContent{
    margin-top: 40px;
}

#addToGallery{
    margin-top:30px;
}

#gallery{
    margin:60px;
    padding:30px;
}
